
.tile-image {
    width: 32px;
    height: 32px;
    background-image: url('../assets/tileset10.png');   
}

#main_container {
    text-align: center; 
    padding-top: 70px;
}

.generate_button {
    height: 100px;
    width: 250px;
    position: fixed;
    top: 90%;
    left: 20px;
}

#top_bar {
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgb(96, 173, 100);
    overflow-x: hidden;
}

.sidebar {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #000;
    overflow-x: hidden; 
    padding-top: 50px;
}
