.tile-image {
    width: 32px;
    height: 32px;
    background-image: url('../assets/tileset10.png');   
}

.sidebar {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(211, 205, 195);
    overflow-x: hidden; 
    padding-top: 20px;
}
