
.tile-image {
    width: 32px;
    height: 32px;
    background-image: url('../assets/tileset10.png');   
}

#main_container {
    text-align: center; 
    padding-top: 70px;
}

.generate_button {
    margin: auto;
    height: 150px;
    width: 100px;
    position: fixed;
    top: 5%;
}

.undo_button {
    margin: auto;
    height: 100px;
    width: 100px;
    position: fixed;
    top: 16%;
}

#top_bar {
    height: 65px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #007bff;
    overflow-x: hidden;
}

.sidebar {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #ffffff;
    overflow-x: hidden; 
    padding-top: 50px;
}
