<!DOCTYPE html>
<html>
    <head>
        <meta name='viewport'content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin = "anonymous">
        <link rel = "stylesheet" href = "./css/start.css">
    </head>

    <body style = "background-color: #cccbcb">
        
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
            
                <div class="modal-header">
                    <h4 class="modal-title">Tutorial</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
            
                <div class="modal-body" id = "tutorial_text" > </div>
            
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            
                </div>
            </div>
        </div>

        <script src = "./scripts/bundle.js"></script>

        <div id = "top_bar"> 
            <h3 style = "margin-top: 13px; margin-left: 102px"> TIRMAT </h3>
            <div class = "dropdown level_change">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Levels
                </button>
                <div class="dropdown-menu" style = "margin-top: 88px;">
                    <a class="dropdown-item" href="/?level=level1">Level 1</a>
                    <a class="dropdown-item" href="/?level=level2">Level 2</a>
                    <a class="dropdown-item" href="/?level=level3">Level 3</a>
                </div>
            </div>
        </div>

        <div id = "main_container"> </div>

        <div id = "sidebar" class = "sidebar"> 
            <div style = "margin-top: 30px">
                <h2 style = "text-align: center"> Ruleset </h1> 
                <div id = "accordion"> </div>
            </div>
        </div>

        <button type = "button" class = "btn btn-primary generate_button" id = "generate_button"> (...) </button>
        <button type = "button" class = "btn btn-info undo_button" id = "undo_button"> Undo </button>
        <button type = "button" class = "btn btn-info refresh_button" id = "refresh_button"> Refresh </button>
        <button type = "button" class = "btn btn-secondary help_button" id = "help_button" data-toggle="modal" data-target="#myModal"> Help </button>
    </body>
</html>