<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel = "stylesheet" href = "./css/start.css">
    </head>

    <body style = "background-color: #cccbcb">
        <script src = "./scripts/bundle.js"></script>

        <div id = "top_bar"> 
            <h3 style = "margin-top: 11px; margin-left: 20px"> Cellular Automata Game </h3>
        </div>

        <div id = "main_container"> </div>

        <div id = "sidebar" class = "sidebar"> 
            <button type = "button" class = "btn btn-outline-primary generate_button" id = "generate_button" </button>
            <h2 style = "text-align: center"> Generate </h1> 
        </div>
    </body>
</html>